
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>OpenData Parser Tool</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
		<p>Input the Open Data URL to parse</p>
		<form method="post" action="post_doc">
			{% csrf_token %}
			<label>Name:</label> <input type="text" name="url_name" /> <br>
			<label>Skip Rows:</label> <input type="text" name="skip_rows" /><br>
			<label>Char set:</label> <input type="text" name="char_set" />
			<input type="submit" name="submit" value="Submit" />
		</form>						
		<br>
		test data :
		<ul>
			<li>URL=http://data.gov.tw/iisi/logaccess?dataUrl=http%3A%2F%2Fwww.thb.gov.tw%2FTM%2FFiles%2FWebpage%2F201404%2F16_%25E5%2585%25A8%25E5%259C%258B%25E5%25A4%25A7%25E5%25AE%25A2%25E8%25BB%258A%25E7%25A6%2581%25E8%25A1%258C%25E8%25B7%25AF%25E6%25AE%25B5-utf.csv&type=CSV&nid=6794</li>
			<li>character set "utf8" </li>
		</ul>
</body>

</html>