
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>OpenData Parser Tool</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
		<p>Input the Open Data URL to parse</p>
		<form method="post" action="post_doc">
			{% csrf_token %}
			<label>Name:</label> <input type="text" name="url_name" /> <br>
			<label>Skip Rows:</label> <input type="text" name="skip_rows" /><br>
			<label>Char set:</label> <input type="text" name="char_set" />
			<input type="submit" name="submit" value="Submit" />
		</form>						
</body>

</html>